.stats {
    color: #FDE5D4;
    background: #011321;
    height: 100vh;
    text-align: center;
}

.stats-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: calc(15px + 0.390625vh);
    font-weight: 700;
    margin: 0 2vw;
}

.stats .solde {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #445D48;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.solde ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}
 
.stats .pronos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #445D48;
    border-radius: 8px;
    padding: calc(7px + 1vh);
}

li {
    list-style-type: none;
}

.pronos-stats {
    display: flex;
    flex-direction: row;
    gap: 1vw;
  }
  
.pronos-stats div .cercle {
    display: inline-block;
    width: calc(40px + 0.390625vw);
    height: calc(40px + 0.390625vw);
    border-radius: 50%;
    border: 2px solid #FDE5D4;
    line-height: calc(40px + 0.390625vw);
    font-size: calc(15px + 0.390625vh);
    font-weight: bold;
    text-align: center;
}

.pronos-stats div p {
    margin: 0;
    margin-top: calc(16px + 0.4vh);
}
  
.pronos .title {
    margin-bottom: calc(16px + 1vh);
}